<a href="https://colab.research.google.com/github/saksham1211/AttendanceManagement-System-/blob/master/ATTENDANCE_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ATTENDANCE MANAGMENT SYSTEM**
USING ZOOM CHAT ROOM

In [0]:
import pandas as pd

In [0]:
f = open('chat.txt', 'r')

In [0]:
each_chat = []
for i in f.readlines():
  each_chat.append(i)

In [4]:
each_chat

['12:15:06\t From  Usha Dubey : FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM.\n',
 '12:15:33\t From  Kanishka   to   Usha Dubey(Privately) : kanishka \n',
 '12:15:38\t From  YUNIKA CHADHA   to   Usha Dubey(Privately) : Yunika Chadha class 10b\n',
 '12:15:41\t From  Kanishka   to   Usha Dubey(Privately) : 14\n',
 '12:15:43\t From  saksham chandolia(10 c) : Saksham chandolia  10 c \n',
 '12:15:51\t From  Kanishka   to   Usha Dubey(Privately) : kanishka\n',
 '12:15:52\t From  YUNIKA CHADHA   to   Usha Dubey(Privately) : roll no.44\n',
 '12:15:53\t From  Rajat Bansal : Rajat Bansal 10C\n',
 '12:15:57\t From  PALAK SAINI : PALAK SAINI 10C\n',
 '12:16:04\t From  Mankirat singh(x-c) : Mankirat singh  (10c)\n',
 '12:16:06\t From  Sanya Leekha : Sanya leekha X B\n',
 '12:16:08\t From  Anuj Garg : anuj garg 10c\n',
 '12:16:09\t From  Ayush Khandelwal   to   Usha Dubey(Privately) : Ayush Khandelwal 10C\n',
 '12:16:10\t From  Kanishka   to   Usha Dubey(Privately) : kanishka x‚Äêc\n',
 '12:16:11\t From  Shaunak (X-C) : Shaunak 10-C\n',
 '12:16:15\t From  Nakul Oberoi : NAKUL OBEROI 10C\n',
 '12:16:16\t From  sajal jain   to   Usha Dubey(Privately) : SAJAL JAIN  -  XB\n',
 '12:16:17\t From  *__sumit__* : 10-c\n',
 '12:16:18\t From  Manan Bisht : Manan Bisht X-C\n',
 '12:16:19\t From  GARVIT KHANDELWAL : garvit 10B\n',
 '12:16:22\t From  Vansh dua : Vansh Dua class 10 c \n',
 '12:16:24\t From  Shruti arora : shruti arora 10B \n',
 '12:16:24\t From  Avni gupta : AVNI GUPTA X-B\n',
 '12:16:25\t From  üòéüî•Pratham Sharmaüòéüî•   to   Usha Dubey(Privately) : Pratham Sharma 10 B\n',
 '12:16:25\t From  Vaibhav : Vaibhav X-C\n',
 '12:16:25\t From  Krish garg : Krish Garg  10 B 9223\n',
 '12:16:26\t From  HARSHIT[10/C] : HARSHIT10-C\n',
 '12:16:26\t From  srishti vats : srishti vats (X-B) \n',
 '12:16:27\t From  Hiya Harjai : hiya harjai 10B9221\n',
 '12:16:27\t From  Aditi : Aditi Goyal X-B\n',
 '12:16:27\t From  Mohit Aggarwal : MOHIT AGGARWAL \n',
 '12:16:28\t From  Lakshita Sehgal : Lakshita Sehgal 10-C\n',
 '12:16:29\t From  *__sumit__* : sumit 10-c\n',
 '12:16:33\t From  Anshika : anshika Sachdev (10b‚Çπ\n',
 '12:16:33\t From  Dev   to   Usha Dubey(Privately) : Dev Rakshit (X-B)\n',
 '12:16:34\t From  Jahnvi Grover   to   Usha Dubey(Privately) : Jahnvi \n',
 '12:16:34\t From  Mohit Aggarwal : X-B\n',
 '12:16:38\t From  Riya Srivastava : Riya srivastava X-B\n',
 '12:16:38\t From  Anshika : 10 b*\n',
 '12:16:40\t From  Manya Mahajan : Manya Mahajan 10C\n',
 '12:16:42\t From  MS Vohra : Manraaj x-B\n',
 '12:16:44\t From  RIYA Vij : Riya Vij X-C\n',
 '12:16:45\t From  Jahnvi Grover   to   Usha Dubey(Privately) : Jahnvi xc\n',
 '12:16:48\t From  Akshat khandelwal : akshat XC\n',
 '12:16:49\t From  üòéDHRUV YADAVüòé : DHRUV YADAV \n',
 '          X-B\n',
 '12:16:56\t From  Binti Suri   to   Usha Dubey(Privately) : Binti suri XB\n',
 '12:16:57\t From  Mysha Karim Baksh : Mysha karim baksh\n',
 'X-C\n',
 '12:17:00\t From  MOIZ KARIM BAKSH : MOIZ KARIM BAKSH X-C\n',
 '12:17:03\t From  Manya Mahajan : Manya mahajan10-c\n',
 '12:17:04\t From  Bharat gupta   to   Usha Dubey(Privately) : Bharat gupta X-B \n',
 '12:17:04\t From  SRISHTI YADAV : srishti yadav 10c\n',
 '12:17:05\t From  Tanvi jain : Tanvi jain X-B\n',
 '12:17:05\t From  Tanishq Sankhla : Tanishq Sankhla\n',
 '12:17:05\t From  Mohit Aggarwal : MOHIT AGGGARWAL X - B\n',
 '12:17:06\t From  Manan Malik : Manan Malik \n',
 '10 B\n',
 '12:17:11\t From  aaryan verma : Aryan Verma _XB\n',
 '12:17:13\t From  Binti Suri : Binti Suti\n',
 '12:17:15\t From  Harsh Singh : Harsh Singh 10-B\n',
 '12:17:20\t From  Tanishq Sankhla : Tanishq Sankhla 10-c\n',
 '12:17:24\t From  VANI JAISWAL ( X - B ) : vani jaiswal ( X B)\n',
 '12:17:30\t From  Binti Suri : binti suri XB\n',
 '12:17:36\t From  Jai bharat sharma : Name - jai bharat sharma\n',
 '12:17:46\t From  Akshita  : Akshita XB\n',
 '12:17:55\t From  Jai bharat sharma : class - xc\n',
 '12:18:28\t From  vinayak : vinayak- X b\n',
 '12:19:16\t From  BOVIN CHOPRA : Bovin - XB\n',
 '12:19:52\t From  Garvita Gogia : garvita XB\n',
 '12:20:06\t From  NIKHIL : Nikhil XC\n',
 '12:20:16\t From  Anuj Kansotia : Anuj Kansotia 10B\n',
 '12:20:23\t From  sonakshi Dogra : sonakshi XB\n',
 '12:20:35\t From  Chiragbhuranda : Chiragbhuranda X-B\n',
 '12:20:54\t From  Gauri Gandhi : Gauri Gandhi XC\n',
 '12:20:58\t From  VANSH BANDERWAL (X-B) : Vansh Banderwal X-B \n',
 '12:20:59\t From  Shubh : shubh X-C\n',
 '12:21:03\t From  Aditya Khandelwal : Aditya khandelwal XB\n',
 '12:21:33\t From  Vidhi Dhawan : Vidhi dhawan XB\n',
 '12:22:18\t From  Karan Gaur : Karan- 10thC\n',
 '12:22:37\t From  Manan Bisht : Manan Bisht X-C\n',
 '12:23:13\t From  swastik singhal : SWASTIK - 10 B\n',
 '12:24:11\t From  sajal jain   to   Usha Dubey(Privately) : MAM all the 4 factors are required to be identified or only factor can also identify  an reaction\n',
 '12:24:28\t From  Vikram Kumar : vikram k.  10 B\n',
 '12:28:21\t From  Yashika aggarwal : yashika aggarwal from X-C \n',
 '12:28:42\t From  Gauri Gandhi : NO PROBLEM\n',
 '12:29:39\t From  Nakul Oberoi : Mam con we balance the equation without making table\n',
 '12:30:40\t From  Nakul Oberoi : Ok maam\n',
 '12:30:44\t From  Goyal   to   Usha Dubey(Privately) : Ma am back exercise bhi karni     \n',
 '12:30:55\t From  Goyal   to   Usha Dubey(Privately) : hai\n',
 '12:38:48\t From  sajal jain   to   Usha Dubey(Privately) : mam electricity  will liberate also\n',
 '12:40:41\t From  sajal jain   to   Usha Dubey(Privately) : mam how we will get to know that which metal is more reactive\n',
 "12:41:22\t From  Anuj Garg   to   Usha Dubey(Privately) : mam isn't hydrogen sulphate  H2SO4\n",
 '12:42:15\t From  Jyotika Sharma : hn \n',
 '12:42:19\t From  Jai bharat sharma : maam how do we know that this metal is highly reactive or less reactive\n',
 '12:42:36\t From  Anuj Garg   to   Usha Dubey(Privately) : ok mam\n',
 '12:42:43\t From  MOIZ KARIM BAKSH : reactivity table\n',
 '12:43:52\t From  Jai bharat sharma : ok mam\n',
 '12:44:32\t From  Nakul Oberoi : Mam please tell who is more reactive Pt or Au\n',
 "12:44:32\t From  Lakshita Sehgal : ok ma'am\n",
 '12:44:40\t From  Goyal   to   Usha Dubey(Privately) : kyon bola us din Maine tujse kuchhh kaha tha\n']

In [0]:
time_stamp = []

In [0]:
rest=[]

In [0]:
for chat in each_chat:
  if  'From' in chat:
    time_stamp.append(chat.split('From')[0][:-2])
    rest.append(chat.split('From')[1])

In [8]:
time_stamp[:5]

['12:15:06', '12:15:33', '12:15:38', '12:15:41', '12:15:43']

In [9]:
rest[:5]

['  Usha Dubey : FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM.\n',
 '  Kanishka   to   Usha Dubey(Privately) : kanishka \n',
 '  YUNIKA CHADHA   to   Usha Dubey(Privately) : Yunika Chadha class 10b\n',
 '  Kanishka   to   Usha Dubey(Privately) : 14\n',
 '  saksham chandolia(10 c) : Saksham chandolia  10 c \n']

In [0]:
from_index = []

In [0]:
to_index=[]

In [0]:
msg = []

In [0]:
for chat in rest:
  c= chat.split(':')
  inds=c[0]
  msg.append(c[1][:-2])
  if 'to' in inds:
    two = inds.split('to')
    from_index.append(two[0].title())
    to_index.append(two[1].title())
  else:
    from_index.append(inds.title())
    to_index.append('All')

In [14]:
from_index[:5]

['  Usha Dubey ',
 '  Kanishka   ',
 '  Yunika Chadha   ',
 '  Kanishka   ',
 '  Saksham Chandolia(10 C) ']

In [15]:
to_index[:5]

['All',
 '   Usha Dubey(Privately) ',
 '   Usha Dubey(Privately) ',
 '   Usha Dubey(Privately) ',
 'All']

In [16]:
msg[:5]

[' FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM',
 ' kanishka',
 ' Yunika Chadha class 10',
 ' 1',
 ' Saksham chandolia  10 c']

In [0]:
data = {'TIME STAMP':time_stamp, 'FROM': from_index, 'TO':to_index, 'MESSAGE':msg}
df = pd.DataFrame(data)

In [18]:
df.head()

  TIME STAMP  ...                                            MESSAGE
0   12:15:06  ...   FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBE...
1   12:15:33  ...                                           kanishka
2   12:15:38  ...                             Yunika Chadha class 10
3   12:15:41  ...                                                  1
4   12:15:43  ...                            Saksham chandolia  10 c

[5 rows x 4 columns]

In [0]:
df.insert(4, 'ATTENDANCE', 'PRESENT', True)

In [22]:
df.shape

(98, 5)

In [24]:
df

   TIME STAMP  ... ATTENDANCE
0    12:15:06  ...    PRESENT
1    12:15:33  ...    PRESENT
2    12:15:38  ...    PRESENT
3    12:15:41  ...    PRESENT
4    12:15:43  ...    PRESENT
..        ...  ...        ...
93   12:42:43  ...    PRESENT
94   12:43:52  ...    PRESENT
95   12:44:32  ...    PRESENT
96   12:44:32  ...    PRESENT
97   12:44:40  ...    PRESENT

[98 rows x 5 columns]

In [25]:
df[:][1:]

   TIME STAMP  ... ATTENDANCE
1    12:15:33  ...    PRESENT
2    12:15:38  ...    PRESENT
3    12:15:41  ...    PRESENT
4    12:15:43  ...    PRESENT
5    12:15:51  ...    PRESENT
..        ...  ...        ...
93   12:42:43  ...    PRESENT
94   12:43:52  ...    PRESENT
95   12:44:32  ...    PRESENT
96   12:44:32  ...    PRESENT
97   12:44:40  ...    PRESENT

[97 rows x 5 columns]

In [39]:
df[['FROM', 'ATTENDANCE']].head()

                         FROM ATTENDANCE
0                 Usha Dubey     PRESENT
4    Saksham Chandolia(10 C)     PRESENT
7               Rajat Bansal     PRESENT
8                Palak Saini     PRESENT
9        Mankirat Singh(X-C)     PRESENT

In [30]:
df.shape

(98, 5)

In [0]:
df.drop_duplicates(subset = 'FROM', keep = False, inplace = True)

In [36]:
df[['FROM', 'ATTENDANCE']]

                          FROM ATTENDANCE
0                  Usha Dubey     PRESENT
4     Saksham Chandolia(10 C)     PRESENT
7                Rajat Bansal     PRESENT
8                 Palak Saini     PRESENT
9         Mankirat Singh(X-C)     PRESENT
10               Sanya Leekha     PRESENT
11                  Anuj Garg     PRESENT
12         Ayush Khandelwal       PRESENT
14              Shaunak (X-C)     PRESENT
19          Garvit Khandelwal     PRESENT
20                  Vansh Dua     PRESENT
21               Shruti Arora     PRESENT
22                 Avni Gupta     PRESENT
23       üòéüî•Pratham Sharmaüòéüî•       PRESENT
24                    Vaibhav     PRESENT
25                 Krish Garg     PRESENT
26              Harshit[10/C]     PRESENT
27               Srishti Vats     PRESENT
28                Hiya Harjai     PRESENT
29                      Aditi     PRESENT
34                      Dev       PRESENT
37            Riya Srivastava     PRESENT
40                   Ms Vohra     PRESENT
41                   Riya Vij     PRESENT
43          Akshat Khandelwal     PRESENT
44              üòéDhruv Yadavüòé     PRESENT
45               Binti Suri       PRESENT
46          Mysha Karim Baksh     PRESENT
49             Bharat Gupta       PRESENT
50              Srishti Yadav     PRESENT
51                 Tanvi Jain     PRESENT
54                Manan Malik     PRESENT
55               Aaryan Verma     PRESENT
57                Harsh Singh     PRESENT
59     Vani Jaiswal ( X - B )     PRESENT
62                   Akshita      PRESENT
64                    Vinayak     PRESENT
65               Bovin Chopra     PRESENT
66              Garvita Gogia     PRESENT
67                     Nikhil     PRESENT
68              Anuj Kansotia     PRESENT
69             Sonakshi Dogra     PRESENT
70             Chiragbhuranda     PRESENT
72      Vansh Banderwal (X-B)     PRESENT
73                      Shubh     PRESENT
74          Aditya Khandelwal     PRESENT
75               Vidhi Dhawan     PRESENT
76                 Karan Gaur     PRESENT
78            Swastik Singhal     PRESENT
80               Vikram Kumar     PRESENT
81           Yashika Aggarwal     PRESENT
90             Jyotika Sharma     PRESENT

In [0]:
f.close()