<a href="https://colab.research.google.com/github/saksham1211/AttendanceManagement-System-/blob/master/ATTENDANCE_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ATTENDANCE MANAGMENT SYSTEM**
USING ZOOM CHAT ROOM

In [0]:
import pandas as pd

In [0]:
f = open('chat.txt', 'r')

In [0]:
each_chat = []
for i in f.readlines():
  each_chat.append(i)

In [7]:
each_chat

['11:29:28\t From  Dhruv Nimbalkar   to   Usha Dubey(Privately) : mam you have muted yourself\n',
 '11:30:15\t From  Usha Dubey   to   Dhruv Nimbalkar(Privately) : FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM.\n',
 '11:30:25\t From  Usha Dubey : FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM.\n',
 '\n',
 '11:30:39\t From  Pranjal Srivastava : Pranjal Srivastava \n',
 '11:30:45\t From  Pranshu Sharma : pr\n',
 '11:30:51\t From  Jagriti Gupta   to   Usha Dubey(Privately) : jagriti Gupta \n',
 '11:30:53\t From  Shashwat Jain : shashwat jain\n',
 '38\n',
 '11:30:58\t From  Pranjal Srivastava : 10127 oranjal\n',
 '11:30:59\t From  Pranshu Sharma : Pranshu Sharma\n',
 '11:31:01\t From  Pranjal Srivastava : Pranjal\n',
 '11:31:04\t From  Drishti   to   Usha Dubey(Privately) : Drishti Aggarwal \n',
 '9\n',
 '11:31:04\t From  Jagriti Gupta   to   Usha Dubey(Privately) : roll no.  12 Jagriti Gupta \n',
 '11:31:11\t From  Samaksh X A : Samaksh Rana\n',
 '11:31:11\t From  Bhavya Malik : bhavyamalik-10106\n',
 '11:31:11\t From  Dhruv Nimbalkar   to   Usha Dubey(Privately) : Dhruv \n',
 '11:31:22\t From  Moksh Singh : Moksh Singh [R.no10119]\n',
 '11:31:22\t From  Punya Malhotra : Punya Malhotra\n',
 '30\n',
 '11:31:22\t From  Nikhil Khandelwal : Nikhil khandelwal\n',
 '11:31:22\t From  PULKIT : PULKIT\n',
 '10129\n',
 '11:31:23\t From  Pranshu Sharma : 10128 pranshu\n',
 '11:31:23\t From  Sheetal Pathak   to   Usha Dubey(Privately) : sheetal pathak ;   class -10th A\n',
 '11:31:23\t From  Vinayak XA : Vinayak roll\n',
 ' no 42\n',
 '\n',
 '11:31:26\t From  Kabir Lamba : Kabir lamba. 10113\n',
 '11:31:40\t From  Saksham S. : Saksham Sankhla,Roll No - 33\n',
 '11:31:41\t From  Saubhagya Kaushal : Saubhagya \n',
 '11:31:43\t From  Mehek punyani : mehek punyani-10118\n',
 '11:31:45\t From  Sambhav Gupta : Sambhav Gupta of class X-A Roll no. 35\n',
 '11:31:56\t From  Tiya : Tiya-40\n',
 '11:32:04\t From  Poorva Mangla : Poorva Mangla-24\n',
 '11:32:12\t From  Aakriti Bhatt : AAKRITI BHATT   [roll no. -1]\n',
 '11:32:34\t From  piyush : piyush-23\n',
 '11:32:34\t From  Yash : yash 43\n',
 '11:32:34\t From  PALAK GUPTA : palak gupta (x-a) roll no.22\n',
 '11:32:34\t From  Vansh rana :  Vansh Rana 41\n',
 '11:32:34\t From  Akshat Tanwar : Akshat tanwar (roll no.- 1)\n',
 '11:32:34\t From  Lakshay garg : lakshay garg (roll no.15)\n',
 '11:32:39\t From  Ananya Sonar : Ananya Sonar [roll no.4]\n',
 '11:32:50\t From  Sheetal Pathak : shetal \n',
 '11:32:52\t From  Sanya X A   to   Usha Dubey(Privately) : sanya Gera X A 36\n',
 '11:33:06\t From  Akshat Tanwar : Akshat tanwar (roll no. 3)\n',
 '11:33:08\t From  Love Goyal (X-A) : Love Goyal (roll no.17)\n',
 '11:33:08\t From  Drishti : Drishti (roll no.9)\n',
 '11:33:11\t From  Sanya X A : sanya Gera X A 36\n',
 '11:33:32\t From  Dhruv Nimbalkar : Dhruv 10108 X A\n',
 '11:33:45\t From  Sheetal Pathak : sheetal pathak (x-A) roll no. 39\n',
 '11:34:37\t From  Nikhil Khandelwal : Nikhil Khandelwal Roll no. â€” 21\n',
 '11:34:50\t From  Saksham Chauhan : SAKSHAM CHAUHAN rool no\n',
 '11:35:00\t From  Saksham Chauhan : 32\n',
 '11:35:31\t From  Arnav Jain : ARNAV JAIN X A ROLL NO. 10105\n',
 '11:39:08\t From  Yash : hn\n',
 '11:39:41\t From  Dhruv Nimbalkar   to   Usha Dubey(Privately) : mam reactant ka O2  product me O kese hua\n',
 '11:40:35\t From  Akshat Tanwar : pls switch off your mic\n',
 "11:44:57\t From  Akshat Tanwar : yes ma'am \n",
 '11:45:26\t From  Akshat Tanwar : everything clear\n',
 '11:47:40\t From  Akshat Tanwar : slaked lime\n',
 '11:47:51\t From  Akshat Tanwar : lime water\n',
 '11:50:39\t From  Shashwat Jain   to   Usha Dubey(Privately) : mam is the reaction of white washing also a exothermic reaction also ??\n',
 '11:52:49\t From  Akshat Tanwar : photolytic decomposition \n',
 '11:56:18\t From  Shashwat Jain   to   Usha Dubey(Privately) : no mam\n',
 '11:56:28\t From  Shashwat Jain   to   Usha Dubey(Privately) : every thing is clear\n',
 '11:57:24\t From  Shashwat Jain   to   Usha Dubey(Privately) : no mam\n',
 '11:58:00\t From  Dhruv Nimbalkar : ok mam\n',
 '11:58:15\t From  Love Goyal (X-A) : ok\n',
 '11:58:52\t From  Shashwat Jain : ok mam\n']

In [0]:
time_stamp = []

In [0]:
rest=[]

In [0]:
for chat in each_chat:
  if  'From' in chat:
    time_stamp.append(chat.split('From')[0][:-2])
    rest.append(chat.split('From')[1])

In [11]:
time_stamp[:5]

['11:29:28', '11:30:15', '11:30:25', '11:30:39', '11:30:45']

In [12]:
rest[:5]

['  Dhruv Nimbalkar   to   Usha Dubey(Privately) : mam you have muted yourself\n',
 '  Usha Dubey   to   Dhruv Nimbalkar(Privately) : FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM.\n',
 '  Usha Dubey : FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM.\n',
 '  Pranjal Srivastava : Pranjal Srivastava \n',
 '  Pranshu Sharma : pr\n']

In [0]:
from_index = []

In [0]:
to_index=[]

In [0]:
msg = []

In [0]:
for chat in rest:
  c= chat.split(':')
  inds=c[0]
  msg.append(c[1][:-2])
  if 'to' in inds:
    two = inds.split('to')
    from_index.append(two[0].title())
    to_index.append(two[1].title())
  else:
    from_index.append(inds.title())
    to_index.append('All')

In [17]:
from_index[:5]

['  Dhruv Nimbalkar   ',
 '  Usha Dubey   ',
 '  Usha Dubey ',
 '  Pranjal Srivastava ',
 '  Pranshu Sharma ']

In [18]:
to_index[:5]

['   Usha Dubey(Privately) ',
 '   Dhruv Nimbalkar(Privately) ',
 'All',
 'All',
 'All']

In [19]:
msg[:5]

[' mam you have muted yoursel',
 ' FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM',
 ' FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBER IN CHAT FORUM',
 ' Pranjal Srivastava',
 ' p']

In [0]:
data = {'TIME STAMP':time_stamp, 'FROM': from_index, 'TO':to_index, 'MESSAGE':msg}
df = pd.DataFrame(data)

In [21]:
df.head()

  TIME STAMP  ...                                            MESSAGE
0   11:29:28  ...                         mam you have muted yoursel
1   11:30:15  ...   FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBE...
2   11:30:25  ...   FOR ATTENDANCE WRITE YOUR NAME AND ROLL NUMBE...
3   11:30:39  ...                                 Pranjal Srivastava
4   11:30:45  ...                                                  p

[5 rows x 4 columns]

In [0]:
df.insert(4, 'ATTENDANCE', 'PRESENT', True)

In [23]:
df.shape

(64, 5)

In [24]:
df

   TIME STAMP  ... ATTENDANCE
0    11:29:28  ...    PRESENT
1    11:30:15  ...    PRESENT
2    11:30:25  ...    PRESENT
3    11:30:39  ...    PRESENT
4    11:30:45  ...    PRESENT
..        ...  ...        ...
59   11:56:28  ...    PRESENT
60   11:57:24  ...    PRESENT
61   11:58:00  ...    PRESENT
62   11:58:15  ...    PRESENT
63   11:58:52  ...    PRESENT

[64 rows x 5 columns]

In [25]:
df[:][1:]

   TIME STAMP  ... ATTENDANCE
1    11:30:15  ...    PRESENT
2    11:30:25  ...    PRESENT
3    11:30:39  ...    PRESENT
4    11:30:45  ...    PRESENT
5    11:30:51  ...    PRESENT
..        ...  ...        ...
59   11:56:28  ...    PRESENT
60   11:57:24  ...    PRESENT
61   11:58:00  ...    PRESENT
62   11:58:15  ...    PRESENT
63   11:58:52  ...    PRESENT

[63 rows x 5 columns]

In [26]:
df[['FROM', 'ATTENDANCE']].head()

                    FROM ATTENDANCE
0     Dhruv Nimbalkar       PRESENT
1          Usha Dubey       PRESENT
2            Usha Dubey     PRESENT
3    Pranjal Srivastava     PRESENT
4        Pranshu Sharma     PRESENT

In [27]:
df.shape

(64, 5)

In [28]:
df.drop_duplicates()

   TIME STAMP  ... ATTENDANCE
0    11:29:28  ...    PRESENT
1    11:30:15  ...    PRESENT
2    11:30:25  ...    PRESENT
3    11:30:39  ...    PRESENT
4    11:30:45  ...    PRESENT
..        ...  ...        ...
59   11:56:28  ...    PRESENT
60   11:57:24  ...    PRESENT
61   11:58:00  ...    PRESENT
62   11:58:15  ...    PRESENT
63   11:58:52  ...    PRESENT

[64 rows x 5 columns]

In [29]:
df.sort_index()

   TIME STAMP  ... ATTENDANCE
0    11:29:28  ...    PRESENT
1    11:30:15  ...    PRESENT
2    11:30:25  ...    PRESENT
3    11:30:39  ...    PRESENT
4    11:30:45  ...    PRESENT
..        ...  ...        ...
59   11:56:28  ...    PRESENT
60   11:57:24  ...    PRESENT
61   11:58:00  ...    PRESENT
62   11:58:15  ...    PRESENT
63   11:58:52  ...    PRESENT

[64 rows x 5 columns]

In [0]:
df1 = df[['FROM', 'ATTENDANCE']]

In [31]:
df1

                     FROM ATTENDANCE
0      Dhruv Nimbalkar       PRESENT
1           Usha Dubey       PRESENT
2             Usha Dubey     PRESENT
3     Pranjal Srivastava     PRESENT
4         Pranshu Sharma     PRESENT
..                    ...        ...
59       Shashwat Jain       PRESENT
60       Shashwat Jain       PRESENT
61       Dhruv Nimbalkar     PRESENT
62      Love Goyal (X-A)     PRESENT
63         Shashwat Jain     PRESENT

[64 rows x 2 columns]

In [0]:
df1 = df[['FROM', 'ATTENDANCE']].copy()
df1['FROM'] = df1['FROM'].str.strip()

df2 = df1.drop_duplicates(keep='last')

In [49]:
df2.reset_index()

    index                FROM ATTENDANCE
0       2          Usha Dubey    PRESENT
1       9  Pranjal Srivastava    PRESENT
2      11       Jagriti Gupta    PRESENT
3      12         Samaksh X A    PRESENT
4      13        Bhavya Malik    PRESENT
5      15         Moksh Singh    PRESENT
6      16      Punya Malhotra    PRESENT
7      18              Pulkit    PRESENT
8      19      Pranshu Sharma    PRESENT
9      21          Vinayak Xa    PRESENT
10     22         Kabir Lamba    PRESENT
11     23          Saksham S.    PRESENT
12     24   Saubhagya Kaushal    PRESENT
13     25       Mehek Punyani    PRESENT
14     26       Sambhav Gupta    PRESENT
15     27                Tiya    PRESENT
16     28       Poorva Mangla    PRESENT
17     29       Aakriti Bhatt    PRESENT
18     30              Piyush    PRESENT
19     32         Palak Gupta    PRESENT
20     33          Vansh Rana    PRESENT
21     35        Lakshay Garg    PRESENT
22     36        Ananya Sonar    PRESENT
23     41             Drishti    PRESENT
24     42           Sanya X A    PRESENT
25     44      Sheetal Pathak    PRESENT
26     45   Nikhil Khandelwal    PRESENT
27     47     Saksham Chauhan    PRESENT
28     48          Arnav Jain    PRESENT
29     49                Yash    PRESENT
30     57       Akshat Tanwar    PRESENT
31     61     Dhruv Nimbalkar    PRESENT
32     62    Love Goyal (X-A)    PRESENT
33     63       Shashwat Jain    PRESENT

In [50]:
df2.shape

(34, 2)